{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "gustavoboaz@gmail.com",
      "Space": "dev"
    },
    "Name": "aganalyze",
    "Instrumentation": {
      "domain": "mybluemix.net",
      "command": "python run.py",
      "instances": "1"
    }
  },
  "Path": "manifest.yml",
  "Type": "Cloud Foundry"
}
